.formacao {
  top: -40px;
  position: relative;
}
.formacao-fundo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #0c0c0c;
  padding: 20px 70px 20px 170px;
  border-radius: 4px;
}

.formacao-container {
  max-width: 100%;
  padding: 40px 0px 0px 117px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1634px;
}
.subtitulo-formacao {
  font-size: 10rem;
  line-height: 1; /*altura de linha*/
  text-transform: uppercase; /* todas as letras em maiusculos*/
  word-break: break-all; /*quebrar palavras*/
  max-width: 300px; /* caracter 0 , colocar 4 caracter ao quebrar linha*/
  padding: 40px;
  place-self: center;
  color: #525252;
}

.formacao-conteudo {
  align-self: center;
  padding: 30px 0px 0px 0px;
}

.formacao .subtitulo {
  color: black;
}

.formacao-texto {
  font-size: 1.125rem;
  line-height: 1.4;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(
    90deg,
    #4d148b 0%,
    #4d148b 6.25%,
    #4d148b 9.37%,
    #4d148b 10.15%,
    #4f148a 10.54%,
    #50148a 10.93%,
    #52148a 11.33%,
    #531489 11.72%,
    #541489 12.11%,
    #561488 12.5%,
    #571488 12.89%,
    #581587 13.28%,
    #5a1587 13.67%,
    #5b1587 14.06%,
    #5d1586 14.45%,
    #5e1586 14.84%,
    #5f1585 15.23%,
    #611585 15.62%,
    #621584 16.01%,
    #631584 16.4%,
    #651584 16.79%,
    #661583 17.18%,
    #671583 17.58%,
    #691582 17.97%,
    #6a1682 18.36%,
    #6c1682 18.75%,
    #6d1681 19.14%,
    #6e1681 19.53%,
    #701680 19.92%,
    #711680 20.31%,
    #72167f 20.7%,
    #74167f 21.09%,
    #75167f 21.48%,
    #77167e 21.87%,
    #78167e 22.26%,
    #79167d 22.65%,
    #7b167d 23.04%,
    #7c177c 23.43%,
    #7d177c 23.83%,
    #7f177c 24.22%,
    #80177b 24.61%,
    #81177b 25%,
    #83177a 25.39%,
    #84177a 25.78%,
    #86177a 26.17%,
    #871779 26.56%,
    #881779 26.95%,
    #8a1778 27.34%,
    #8b1778 27.73%,
    #8c1777 28.12%,
    #8e1877 28.51%,
    #8f1877 28.9%,
    #911876 29.29%,
    #921876 29.68%,
    #931875 30.08%,
    #951875 30.47%,
    #961874 30.86%,
    #971874 31.25%,
    #991874 31.64%,
    #9a1873 32.03%,
    #9b1873 32.42%,
    #9d1872 32.81%,
    #9e1872 33.2%,
    #a01972 33.59%,
    #a11971 33.98%,
    #a21971 34.37%,
    #a41970 34.76%,
    #a51970 35.15%,
    #a6196f 35.54%,
    #a8196f 35.93%,
    #a9196f 36.33%,
    #ab196e 36.72%,
    #ac196e 37.11%,
    #ae196d 37.5%,
    #af196d 37.89%,
    #b0196c 38.28%,
    #b2196c 38.67%,
    #b3196b 39.06%,
    #b51a6b 39.45%,
    #b61a6a 39.84%,
    #b81a6a 40.23%,
    #b91a6a 40.62%,
    #bb1a69 41.01%,
    #bc1a69 41.4%,
    #bd1a68 41.79%,
    #bf1a68 42.18%,
    #c01a67 42.58%,
    #c21a67 42.97%,
    #c31a66 43.36%,
    #c51a66 43.75%,
    #c61a66 44.14%,
    #c71a65 44.53%,
    #c91a65 44.92%,
    #ca1a64 45.31%,
    #cc1b64 45.7%,
    #cd1b63 46.09%,
    #cf1b63 46.48%,
    #d01b62 46.87%,
    #d21b62 47.26%,
    #d31b61 47.65%,
    #d41b61 48.04%,
    #d61b61 48.43%,
    #d71b60 48.83%,
    #d81b5f 49.22%,
    #d81c5f 49.61%,
    #d91d5e 50%,
    #d91d5d 50.39%,
    #d91e5c 50.78%,
    #da1f5c 51.17%,
    #da1f5b 51.56%,
    #da205a 51.95%,
    #db2159 52.34%,
    #db2159 52.73%,
    #db2258 53.12%,
    #dc2357 53.51%,
    #dc2356 53.9%,
    #dc2456 54.29%,
    #dd2555 54.68%,
    #dd2554 55.08%,
    #dd2653 55.47%,
    #dd2752 55.86%,
    #de2752 56.25%,
    #de2851 56.64%,
    #de2950 57.03%,
    #df294f 57.42%,
    #df2a4f 57.81%,
    #df2b4e 58.2%,
    #e02b4d 58.59%,
    #e02c4c 58.98%,
    #e02d4c 59.37%,
    #e12d4b 59.76%,
    #e12e4a 60.15%,
    #e12f49 60.54%,
    #e12f49 60.93%,
    #e23048 61.33%,
    #e23147 61.72%,
    #e23146 62.11%,
    #e33245 62.5%,
    #e33345 62.89%,
    #e33344 63.28%,
    #e43443 63.67%,
    #e43542 64.06%,
    #e43542 64.45%,
    #e53641 64.84%,
    #e53740 65.23%,
    #e5373f 65.62%,
    #e6383f 66.01%,
    #e6393e 66.4%,
    #e6393d 66.79%,
    #e63a3c 67.18%,
    #e73b3c 67.58%,
    #e73b3b 67.97%,
    #e73c3a 68.36%,
    #e83d39 68.75%,
    #e83e38 69.14%,
    #e83e38 69.53%,
    #e93f37 69.92%,
    #e94036 70.31%,
    #e94035 70.7%,
    #ea4135 71.09%,
    #ea4234 71.48%,
    #ea4233 71.87%,
    #eb4332 72.26%,
    #eb4432 72.65%,
    #eb4431 73.04%,
    #eb4530 73.43%,
    #ec462f 73.83%,
    #ec462f 74.22%,
    #ec472e 74.61%,
    #ed482d 75%,
    #ed482c 75.39%,
    #ed492b 75.78%,
    #ee4a2b 76.17%,
    #ee4a2a 76.56%,
    #ee4b29 76.95%,
    #ef4c28 77.34%,
    #ef4c28 77.73%,
    #ef4d27 78.12%,
    #ef4e26 78.51%,
    #f04e25 78.9%,
    #f04f25 79.29%,
    #f05024 79.68%,
    #f15023 80.08%,
    #f15122 80.47%,
    #f15222 80.86%,
    #f25221 81.25%,
    #f25320 81.64%,
    #f2541f 82.03%,
    #f3541e 82.42%,
    #f3551e 82.81%,
    #f3561d 83.2%,
    #f4561c 83.59%,
    #f4571b 83.98%,
    #f4581b 84.37%,
    #f4581a 84.76%,
    #f55919 85.15%,
    #f55a18 85.54%,
    #f55a18 85.93%,
    #f65b17 86.33%,
    #f65c16 86.72%,
    #f65c15 87.11%,
    #f75d15 87.5%,
    #f75e14 87.89%,
    #f75e13 88.28%,
    #f85f12 88.67%,
    #f86011 89.06%,
    #f86011 89.45%,
    #f96110 89.84%,
    #f9620f 90.23%,
    #f9620e 90.62%,
    #f9630e 91.01%,
    #fa640d 91.4%,
    #fa640c 91.79%,
    #fa650b 92.18%,
    #fb660b 92.58%,
    #fb660a 92.97%,
    #fb6709 93.36%,
    #fc6808 93.75%,
    #fc6808 94.14%,
    #fc6907 94.53%,
    #fd6a06 94.92%,
    #fd6a05 95.31%,
    #fd6b04 95.7%,
    #fd6c04 96.09%,
    #fe6c03 96.48%,
    #fe6d02 96.87%,
    #fe6e01 97.26%,
    #ff6e01 97.65%,
    #ff6f00 98.43%,
    #ff6f00 100%
  );
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #525252;
}

@media (max-width: 800px) {
  .formacao {
    display: grid;
    grid-template-columns: 660px;
  }
  .formacao-fundo {
    display: grid;
    grid-template-columns: 635px;
    padding: 0px 20px;
    gap: 4px;
  }
  .formacao-container {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 40px;
    margin: 0px;
  }
  .subtitulo-formacao {
    grid-row: 1;
    font-size: 3rem;
    padding: 20px;
  }
}
